.mid {
    height: 300px;
    text-align: center;
}

.midd {
    text-align: center;
}

.background {
    width: 100%;
}

.tlacitko{
    color: white;
    background-color: rgb(215, 88, 4);
     margin-bottom: 10px;
}